/*
CeadGame Stylesheet
pedro.sacramento
2017-07-14
*/
.sprite-clickable,.sprite-target,.sprite-other {
	cursor: pointer;
}

.sprite-target {
	filter:url(#sprite-target);
}

.sprite-other {
	filter:url(#sprite-other);
}

.sprite-hidden {
	display:none;
}
